.git
.gitignore
node_modules
*/node_modules
*/*/node_modules
.next
*/.next
*/*/.next
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
ENV
env
.env
.env.local
.env.*.local
docs/
screenshots/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
